#navbar {
  background: $dark-blue;
  min-height: 30px;
  border-radius: initial;
  border: initial;
  margin-left: -15px;
  margin-right: -15px;

  .navbar-collapse {
    padding-left: 5px;
    li {
      @media (max-width: 767px) {
        padding-left: 5px;
      }
    }
  }

  .icon-bar {
    background-color: #fff;
  }

  .nav {
    font-size: 12px;
    font-family: Lato;

    a {
      color: #fff;
      padding: 7px;
      transition: background .5s;

      &:hover {
        background: rgba(255,255,255,.2);
        text-decoration: none;
      }
    }

    > .active > a {
      background-color: transparent;
      background: rgba(255,255,255,.2);
    }

    .dropdown {
      .dropdown-menu {
        @media (max-width: 767px) {
          display: block;
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          border: 0;
        }

        a {
          color: $dark-blue;
          font-size: 12px;
          font-family: Lato;

          &:hover {
            background: $light-grey;
          }
        }

        > .active > a {
          background-color: transparent;
          background: $light-grey;
        }
      }

      @media (min-width: 786px) {
        &:hover {
          .dropdown-menu {
              display: block;
          }
        }
      }
    }
  }
}

.logo {
  font-family: Pacifico;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  color: $dark-blue;

  @media (max-width: 767px) {
    font-size: 36px;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
   text-decoration: none;
 }
}

#page-header {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-color: rgba(0,0,0,.05);
  padding: 5px 0 8px 0;
  margin: 20px 0;
}
