#navbar {
  background: $dark-blue;
  min-height: 35px;
  border-radius: initial;
  border: initial;
  padding: 0px 15px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;

  .navbar-collapse {
    padding-left: 5px;
    .nav-item {
      @media (max-width: 767px) {
        padding-left: 5px;
      }

      .dropdown-toggle::after {
        display:none;
      }
    }
  }

  .navbar-toggler {
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: #ddd;
    
    .navbar-toggler-icon{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-nav {
    font-size: 12px;
    font-family: Lato;

    .nav-link {
      display: inline;
    }

    a {
      display: inline;
      color: #fff;
      padding: 11px;
      transition: background .5s;

      &:hover {
        background: rgba(255,255,255,.2);
        text-decoration: none;
      }
    }

    > .active > a {
      background-color: transparent;
      background: rgba(255,255,255,.2);
    }

    .dropdown {
      .nav-link {
        display: block;
      }
      .dropdown-menu {
        @media (max-width: 767px) {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          border: 0;
          display: block;
        }

        .dropdown-item {
          padding: .25rem 1.5rem;
          color: $dark-blue;
          font-size: 12px;
          font-family: Lato;
          display: block;

          &:hover {
            background: $light-grey;
          }
        }

        > .active > a {
          background-color: transparent;
          background: $light-grey;
        }
      }

      @media (min-width: 786px) {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }
}

.logo {
  font-family: Pacifico;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  color: $dark-blue;

  @media (max-width: 767px) {
    font-size: 36px;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
   text-decoration: none;
 }
}

#page-header {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-color: rgba(0,0,0,.05);
  padding: 5px 0 8px 0;
  margin: 20px 0;
}
