.project-block {
  text-align: center;

  h3 {
    font-family: Pacifico;
  }

  p {
    color:black;
  }

  a {
    text-decoration: none;
  }

  div {
    @media (min-width: 992px) {
      min-height: 350px;
    }

    &:hover {
      background-color: $light-grey;
    }
  }

  img {
    padding: 15px;
  }
}

.project-info {
  margin-top: 10px;
}

.project-image {
  margin-bottom: 15px;
}

.project-points-side {
  margin-bottom: 15px;
  border-bottom: solid 1px #d6d6d6;
}

.project-points-top {
  @media (min-width: 1200px) {
    border-right: solid 1px #d6d6d6;
  }
  @media (max-width: 1200px) {
    margin-bottom: 15px;
    border-bottom: solid 1px #d6d6d6;
  }
}

.project-points {
  span {
    font-weight: bold;
  }
}
