$light-grey:#eee;
$dark-grey:#444;
$dark-blue: #2d5c88;

@import 'header';
@import 'home';
@import 'projects';
@import 'contact';

html {
  overflow-y: scroll;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

h1 {
  font-family: Lato;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: Lato;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-family: Lato;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

#container {
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.16)!important;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.16)!important;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
