$github: #4078C0;
$linkedin: #4875B4;
$flickr: #FE0883;
$facebook: #3b5998;

$social-background: $light-grey;
$social-text: $dark-grey;

@mixin social-links-boxes {
  display: block;
  padding: 5px;
  background: $social-background;
  margin-left: 3px;
  margin-bottom: 3px;
  color: $social-text;
  transition: background .6s ease-out;
}

.social-links {
  text-align: center;
  margin-top: 10px;
  a i {
   vertical-align: middle
  }
  h1 {
    font-family: Pacifico;
  }
  .link-container {
    .icon {
      a {
       width: 45px;
       line-height: 37px;
       text-align: center;
       @include social-links-boxes;
      }
    }

    .icon-link {
      display: inline-block;
      width: 45px;
      margin: 5px;
    }

    .link {
      float: left;

      a {
       width: 310px;
       line-height: 42px;
       text-align: left;
       @include social-links-boxes;
      }
    }

    :hover a {
      color: #fff;
      text-decoration: none;
    }

    .github {
     clear: both;
     &:hover a {
        background: $github;
      }
    }

    .linkedin {
      clear: both;
      &:hover a {
        background: $linkedin;
      }
    }
  }
}
