.project-block {
  text-align: center;

  h3 {
    font-family: Pacifico;
  }

  p {
    color:black;
  }

  a {
    text-decoration: none;
  }

  div {
    min-height: 350px;

    &:hover {
      background-color: @light-grey;
    }
  }

  img {
    padding: 15px;
  }
}

.project-info {
  margin-top: 10px;
}
.project-points-side {
  padding-top: 10px;
  border-top: solid 1px #d6d6d6;
}

.project-points-top {
  border-left: solid 1px #d6d6d6;
}

.project-points {
  span {
    font-weight: bold;
  }
}
